*{
    
    color: white;
}
body
{
    background-color: black;
    margin: 0;
    padding: 1em;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.cv
{
    background-color: red;
    width: 70%;
    height: 90%;
    border-radius: 5px;

    grid-template-areas:
    "a b c"
    "d e e"
    "d e e";

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}
.conteiner
{
    border-radius: 10px;
    font-size: 20px;
}

.item1
{
    grid-area: a;
    width: 200px;
    height: 150px;
}
.image
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.item2
{

    color: #000;
    display: inline;
    grid-area: b;
}
.item3
{
    grid-area: c;
}
.item4
{
    grid-area: d;
    width: inherit;
    height: 200px;
}
.item5
{
    grid-area: e;
    width: 400px;
    height: 200px;
}
